<div class="header__area d-flex align-items-center justify-content-between py-7 mb-5">
  <div class="header__left d-flex">
      <h2 class="fw-bold me-8 mb-0">Admin</h2>
    <button class="d-flex align-items-center" id="newAdmin" data-bs-toggle="modal" data-bs-target="#newAdmin">
      <span class="d-flex fw-bold p-0">
        <span class="material-icons text-success me-2">
          add
        </span>Add New Admin</span>
      </button>
  </div>
    <div class="header__right align-items-center">
      <span class="material-icons me-6 align-top text-dark link-success ">search</span>
      <span class="material-icons align-top text-dark link-success ">
        notifications_active
      </span>
    </div>
  </div>